$layout-padding-x: 10%;
$layout-padding-y: 30px;
$layout-header-height: 70px;

$sidecart-width: 405px;
$page-max-width: 1300px;

$thin-black: rgba(92, 92, 92, 0.2);
$thin-white: rgba(180, 180, 180, 0.2);

$dark-mode-bg-1: #0f0d0d;
$dark-mode-text-1: #e4dede;
$dark-mode-subtext-1: #ccc7c7;
$dark-mode-gray: #444141;

$blue: #00bdf7;
$my-primary: #111;
$my-transparent: transparent;
$my-danger: #ff4757;
