.animation\:slide-up {
	animation: slideUp .3s;
}

.animation\:page-in {
	animation: pageIn .3s;
}

.animation\:slide-in-right {
	animation: slideInRight .3s;
}

@keyframes slideUp {
	0% {
		transform: translateY(50%);
		opacity: 0.1;
	}

	90% {
		opacity: 0.1;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes slideInRight {
	0% {
		transform: translateX(50%);
	}

	100% {
		transform: translateX(0px);
	}
}

@keyframes pageIn {
	0% {
		top: 10px;
		opacity: 0;
	}
	50% {
		top: 5px;
		opacity: .5;
	}
	100% {
		top: 0px;
		opacity: 1;
	}
}
