// main colours
@each $colorName, $colorValue in $colors {
  .bg\:#{$colorName} {
    background-color: $colorValue !important;
  }

  .text\:#{$colorName} {
    color: $colorValue !important;
  }
}

// grays
@each $colorShade, $colorValue in $grays {
  .bg\:gray-#{$colorShade} {
    background-color: $colorValue !important;
  }
}
