.flex {
	display: flex;
}

@each $display in $displays {
	.d\:#{$display} {
		display: $display !important;
	}

	@include xs {
		.d-xs\:#{$display} {
			display: $display !important;
		}
	}

	@include sm-down {
		.d-sm-down\:#{$display} {
			display: $display !important;
		}
	}

	@include sm {
		.d-sm\:#{$display} {
			display: $display !important;
		}
	}

	@include sm-up {
		.d-sm-up\:#{$display} {
			display: $display !important;
		}
	}

	@include md-down {
		.d-md-down\:#{$display} {
			display: $display !important;
		}
	}

	@include md {
		.d-md\:#{$display} {
			display: $display !important;
		}
	}

	@include md-up {
		.d-md-up\:#{$display} {
			display: $display !important;
		}
	}

	@include lg-down {
		.d-lg-down\:#{$display} {
			display: $display !important;
		}
	}

	@include lg {
		.d-lg\:#{$display} {
			display: $display !important;
		}
	}

	@include lg-up {
		.d-lg-up\:#{$display} {
			display: $display !important;
		}
	}

	@include xl {
		.d-xl\:#{$display} {
			display: $display !important;
		}
	}
}

.flex-row {
	display: flex;
	@extend .flex-d\:row;
}

.flex-col {
	display: flex;
	@extend .flex-d\:col;
}

.flex\:center-between {
	align-items: center;
	justify-content: space-between;
}

.flex\:center-start {
	align-items: center;
	justify-content: flex-start;
}

.flex\:center-end {
	align-items: center;
	justify-content: flex-end;
}

.flex\:end-center {
	align-items: flex-end;
	justify-content: center;
}

.flex\:justify-center {
	justify-content: center;
}

.flex\:justify-end {
	justify-content: flex-end;
}

.flex\:justify-start {
	justify-content: flex-start;
}

.flex\:items-center {
	align-items: center;
}

.flex\:center-all {
	align-items: center;
	justify-content: center;
}

.flex-d\:col {
	flex-direction: column;
}

.flex-d\:row {
	flex-direction: row;
}
