@each $value in (relative, absolute, fixed, sticky) {
	.position\:#{$value} {
		position: $value !important;
	}

	@include xs {
		.position-xs\:#{$value} {
			position: $value !important;
		}
	}

	@include sm {
		.position-sm\:#{$value} {
			position: $value !important;
		}
	}

	@include md {
		.position-md\:#{$value} {
			position: $value !important;
		}
	}

	@include lg {
		.position-lg\:#{$value} {
			position: $value !important;
		}
	}

	@include xl {
		.position-xl\:#{$value} {
			position: $value !important;
		}
	}
}

@each $class, $position in $sizes {
  .top\:#{$class} {
    top: $position !important;
  }

  .bottom\:#{$class} {
    bottom: $position !important;
  }

  .left\:#{$class} {
    left: $position !important;
  }

  .right\:#{$class} {
    right: $position !important;
  }

  @include xs {
	.top-xs\:#{$class} {
		top: $position !important;
	}

	.bottom-xs\:#{$class} {
		bottom: $position !important;
	}

	.left-xs\:#{$class} {
		left: $position !important;
	}

	.right-xs\:#{$class} {
		right: $position !important;
	}
  }

  @include sm {
	.top-sm\:#{$class} {
		top: $position !important;
	}

	.bottom-sm\:#{$class} {
		bottom: $position !important;
	}

	.left-sm\:#{$class} {
		left: $position !important;
	}

	.right-sm\:#{$class} {
		right: $position !important;
	}
  }

  @include md {
	.top-md\:#{$class} {
		top: $position !important;
	}

	.bottom-md\:#{$class} {
		bottom: $position !important;
	}

	.left-md\:#{$class} {
		left: $position !important;
	}

	.right-md\:#{$class} {
		right: $position !important;
	}
  }

  @include lg {
	.top-lg\:#{$class} {
		top: $position !important;
	}

	.bottom-lg\:#{$class} {
		bottom: $position !important;
	}

	.left-lg\:#{$class} {
		left: $position !important;
	}

	.right-lg\:#{$class} {
		right: $position !important;
	}
  }

  @include xl {
	.top-xl\:#{$class} {
		top: $position !important;
	}

	.bottom-xl\:#{$class} {
		bottom: $position !important;
	}

	.left-xl\:#{$class} {
		left: $position !important;
	}

	.right-xl\:#{$class} {
		right: $position !important;
	}
  }
}