html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
	max-height: 100vh;
	height: 100vh;
	font-family: 'Sen', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	&::-webkit-scrollbar-track {
		background-color: rgb(243, 243, 243);
	}

	&::-webkit-scrollbar {
		width: 4px;
		background-color: #fff;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #9b9b9b	;
		border-radius: 0px;

		&:hover {
			background-color: rgb(71, 71, 71);
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}
